a, a:hover {
	text-decoration:none
}
.CSSTableGenerator table, table {
	border-collapse:collapse;
	border-spacing:0
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin:0;
	padding:0;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	vertical-align:baseline
}
.np_des_wi880, .np_des_wi900, .os_des_margin_auto {
	margin:0 auto!important
}
.CSSTableGenerator td, .Cell, .form-control2 {
	vertical-align:middle
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
body {
	line-height:1;
	font-size:12px
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:after, blockquote:before, q:after, q:before {
	content:'';
	content:none
}
.fll {
	float:left!important
}
.flr {
	float:right!important
}
a {
	color:#000
}
a:hover {
	color:#024097
}
.bold {
	font-weight:700!important
}
.normal {
	font-weight:400!important
}
.italic {
	font-style:italic
}
.fs10 {
	font-size:10px!important
}
.fs11 {
	font-size:11px!important
}
.fs14 {
	font-size:14px!important
}
.fs18 {
	font-size:18px!important
}
.fs24 {
	font-size:24px!important
}
.fs60 {
	font-size:40px!important
}
.aleft {
	text-align:left!important
}
.acenter {
	text-align:center!important
}
.aright {
	text-align:right!important
}
.justify {
	text-align:justify!important
}
.overflow {
	overflow:hidden
}
.os_des_underline {
	text-decoration:underline
}
.lh30 {
	line-height:30px
}
.lh24 {
	line-height:24px
}
.lh20 {
	line-height:20px
}
.lh18 {
	line-height:18px
}
.lh16 {
	line-height:16px
}
.module_color {
	color:#c5b000!important
}
.gray {
	color:#787979!important
}
.red {
	color:#d20000!important
}
.white {
	color:#fff!important
}
.blue {
	color:#002aff!important
}
.black {
	color:#000!important
}
.np_des_wi100pst {
	width:100%!important
}
.np_des_wi900 {
	width:900px
}
.np_des_wi880 {
	width:880px;
	display:inline-block
}
.np_des_wi620 {
	width:620px!important
}
.np_des_wi580 {
	width:580px!important
}
.np_des_wi600 {
	width:600px!important
}
.np_des_wi420 {
	width:420px!important
}
.np_des_wi280 {
	width:290px!important
}
.np_des_wi150 {
	width:150px!important
}
.np_des_mat45 {
	margin-top:45px!important
}
.np_des_mat35 {
	margin-top:35px!important
}
.np_des_mat25 {
	margin-top:25px!important
}
.np_des_mat20 {
	margin-top:20px!important
}
.np_des_mat15 {
	margin-top:15px!important
}
.np_des_mat10 {
	margin-top:10px!important
}
.np_des_mat5 {
	margin-top:5px!important
}
.np_des_mat4 {
	margin-top:4px!important
}
.bp_des_mat3 {
	margin-top:3px!important
}
.np_des_mar10 {
	margin-right:10px!important
}
.np_des_mar5 {
	margin-right:5px!important
}
.np_des_mar15 {
	margin-right:15px!important
}
.np_des_mar150 {
	margin-right:150px!important
}
.np_des_mab2 {
	margin-bottom:2px!important
}
.np_des_mab5 {
	margin-bottom:5px!important
}
.np_des_mab10 {
	margin-bottom:10px!important
}
.np_des_mab20 {
	margin-bottom:20px!important
}
.np_des_mab40 {
	margin-bottom:40px!important
}
.os_des_mal15 {
	margin-left:15px!important
}
.os_des_mal10 {
	margin-left:10px!important
}
.os_des_mal5 {
	margin-left:5px!important
}
.os_des_mal20 {
	margin-left:20px!important
}
.os_des_mal60 {
	margin-left:45px!important
}
.os_des_mal300 {
	margin-left:355px!important
}
.np_des_pat3 {
	padding-top:3px!important
}
.np_des_pat5 {
	padding-top:5px!important
}
.np_des_pat8 {
	padding-top:8px!important
}
.np_des_pat10 {
	padding-top:10px!important
}
.np_des_pat18 {
	padding-top:18px!important
}
.os_des_par10 {
	padding-right:10px!important
}
.os_des_pab5 {
	padding-bottom:5px!important
}
.os_des_pal10 {
	padding-left:10px!important
}
.os_des_pal5 {
	padding-left:5px!important
}
.os_des_mat10 {
	margin-top:10px!important
}
.os_des_borderbottom {
	width:100%;
	border-bottom:1px #CCC dotted
}
.os_des_borderbottom2 {
	width:266px;
	border-bottom:1px #CCC dotted
}
.np_des_module_bgmain_wrapper {
	background:#fff;
	width:100%;
	min-height:100%;
}
.np_des_wrapper-main {
	width:100%;
	height:100%;
}
.clearfix {
	clear:both
}
.np_des_header-main {
	width:100%;
	height:65px;
	background:#22265c;
	border-bottom:3px #7fd6f7 solid
}
.np_des_header-main .np_des_headermain-sub {
	width:100%;
	height:45px
}
.np_des_logocv {
	width:100px;
	height:45px;
	float:left;
	margin:5px 0 0 10px
}
.header_fixed_wrapper {
	width:100%;
	position:fixed;
	top:0;
	z-index:10000;
	float:left
}
.np_des_module_container_wrap {
	width:90%;
	margin:0 auto;
	overflow:hidden;
	box-sizing: border-box;
	padding-bottom: 50px;
}
.right_container_boxdiv, .right_container_rightnew_wrapper, .right_container_wrap2 {
	width:60%;
	border-left:1px #f5f5f5 solid;
	min-height:500px;
	padding:0 0 3% 1%;
	float:left
}
.right_container_boxdiv {
	margin:0 0 0 460px
}
.right_container_rightnew_wrapper {
	margin:0 0 0 300px
}
.right_container_wrap2 {
	margin:80px 0 0 300px
}
.leftpro_imagebox {
	float:left;
	width:13%;
	margin:130PX 1% 0 300px;
	position:fixed
}
.left_imagediv, .left_imagediv img {
	width:125px;
	height:125px;
	float:left
}
.left_imagediv {
	border-radius:100px
}
.left_imagediv img {
	overflow:hidden;
	background:#fff;
	padding:3px;
	border:1px solid #CCC;
	border-radius:100px
}
.left_proimageborder {
	float:left;
	width:10px;
	min-height:300px;
	position:absolute;
	margin:140px 0 0 65px;
	border-left:1px #CCC solid
}
.flight_searchfield_box, .flight_selectbox_one {
	background:rgba(255, 255, 255, 0);
	border-color:#bcbcbc;
	border-radius:2px;
	border-style:solid;
	border-width:0 0 1px;
	color:#22265c;
	float:left;
	height:30px;
	line-height:30px;
	padding:0 0 0 5px;
	width:223px;
	font-weight:700
}
.showingdata {
	color:#22265c;
	float:left;
	font-size:16px;
	margin:5px 0 0;
	font-weight:400
}
.flight_selectbox_one {
	width:133px;
	height:22px;
	border:1px solid #CCC;
	font-size:12px;
	margin:5px 10px 0 0;
	padding:0
}
.minheight450 {
	min-height:450px
}
.minheight600 {
	min-height:600px
}
.minheight800 {
	min-height:800px
}
.theme_maincontent_wrap {
	float:left;
	width:100%
}
.theme_image_wrap {
	float:left;
	width:330px;
	margin:0 10px 10px
}
.theme_one {
	float:left;
	width:158px;
	height:130px;
	margin:0 8px 15px
}
.theme_one img {
	width:152px;
	height:124px;
	background:#fff;
	padding:3px;
	border:1px solid #CCC
}
.activetheme {
	border:3px solid green!important
}
.click_photoOptionsbooks {
	float:left;
	position:absolute;
	width:150px;
	padding:8px 0;
	opacity:5px;
	margin:98px 0 0 5px;
	background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5))
}
.click_photoOptionsbooks h5 {
	color:#fff;
	text-align:center;
	padding:0;
	font-size:14px
}
.moduleOptionsWrapper {
	float:right;
	width:130px;
	height:30px;
	margin:17px 20px 0 0
}
#messages, #notifications, #requests, #settings, .moduleHeaderIcon, .moduleOption {
	width:30px;
	height:30px
}
.moduleOption {
	float:left;
	margin:0 0 0 2px;
	border-radius:15px
}
.moduleOption:hover, .moduleOptionHighlite {
	background-color:rgba(0, 0, 0, .5)
}
.moduleHeaderIcon {
	cursor:pointer;
	float:left
}
#settings {
	background:url(../images/moduleHeaderIcons.png)
}
#notifications {
	background:url(../images/moduleHeaderIcons.png) -30px 0
}
#messages {
	background:url(../images/moduleHeaderIcons.png) -60px 0
}
#requests {
	background:url(../images/moduleHeaderIcons.png) -90px 0
}
.notificationWrapper {
	display:none;
	float:left;
	position:relative;
	width:400px;
	margin:0 0 0 -50px;
	z-index:1
}
.settingsWrapper {
	width:250px
}
.notifyBubble {
	float:left;
	width:25px;
	height:18px;
	margin:0 0 0 50px
}
.showNotification {
	display:block
}
.settingsOptionsWrapper {
	display:none;
	float:left;
	width:150px;
	height:100px;
	background-color:#f9f9f9;
	margin:18px 0 0 -10px;
	box-shadow:0 2px 2px #555
}
.notificationContent {
	float:left;
	width:400px;
	height:230px;
	background-color:#f5f5f5;
	box-shadow:0 3px 2px #555
}
.settingsContent {
	width:200px;
	height:150px
}
.settingsContent ul {
	float:left;
	list-style:none
}
.settingsContent ul li {
	cursor:pointer;
	float:left;
	width:200px;
	font:14px Arial;
	color:#555;
	border-bottom:dotted 1px #e5e5e5
}
.settingsContent ul li:hover {
	background-color:#e5e5e5;
	border-bottom:solid 1px #ddd
}
.deactivete_textarea, .oneidnet_redfocusclass {
	background-color:#fff;
	font-size:12px;
	float:left
}
.settingsContent ul li img {
	float:left;
	width:25px;
	height:25px;
	margin:2px 0 0 5px
}
.settingsContent ul li p {
	float:left;
	margin:7px
}
.hotel_pachagesummary_box {
	float:left;
	width:23%
}
.hotel_pachagesummary_box ul {
	float:left;
	list-style:none;
	margin:0 0 0 10px;
	padding:5px 0;
	width:250px
}
.hotel_pachagesummary_box ul li {
	font-size:12px;
	list-style:none;
	margin:0 0 10px;
	padding:0 0 0 10px;
	width:250px;
	font-weight:700;
	line-height:20px
}
.hotel_pachagesummary_box ul li a {
	color:#22265c
}
.hotel_pachagesummary_box ul li a.current, .hotel_pachagesummary_box ul li a:hover {
	color:#09c
}
.wi100pstg {
	width:100%!important
}
.mab10 {
	margin-bottom:10px!important
}
.oneshop_productfield_textbox, .oneshop_select_newfield_with_border, .oneshop_select_newfield_with_border1, .oneshop_selectbox_field, .subcategory_textarea {
	background-color:#fff;
	border-bottom:1px #eee solid;
	border-left:0 #eee solid;
	border-right:0 #eee solid;
	border-top:0 #eee solid;
	float:left;
	height:24px;
	font-size:12px;
	margin:0;
	padding:0 10px 0 0;
	width:290px
}
.oneidnet_redfocusclass {
	border-bottom:1px #CE1818 solid;
	border-left:0 #eee solid;
	border-right:0 #eee solid;
	border-top:0 #eee solid;
	height:24px;
	margin:0;
	padding:0 10px 0 0;
	width:290px
}
.deactivete_textarea {
	border:1px solid #999;
	height:120px;
	margin:20px 0 0;
	border-radius:3px;
	padding:10px;
	width:500px
}
.oneshop_productfield_textbox {
	width:270px
}
.oneshop_selectbox_field {
	width:290px
}
.oneshop_select_newfield_with_border {
	width:435px;
	height:28px;
	border:1px solid #ccc
}
.oneshop_select_newfield_with_border1 {
	width:435px;
	height:75px;
	border:1px solid #ccc
}
input:focus, select:focus, textarea:focus {
	border-bottom:2px solid #7fd6f7;
	outline:0
}
option, select {
	background-color:transparent
}
.button_go, .button_new {
	background:#22265c;
	border:0 solid #6a8d3a;
	border-radius:2px;
	color:#fff;
	cursor:pointer;
	float:left;
	font-size:12px;
	font-weight:400;
	height:26px;
	padding:0 10px;
	margin:5px
}
.button_go:hover, .button_new:hover {
	background:#09c;
	border:0 solid #8e2627;
	border-radius:2px
}
.button_go {
	background:#22265c;
	border:0 solid #6a8d3a;
	border-radius:2px;
	color:#fff;
	cursor:pointer;
	float:left;
	height:22px;
	margin:5px 0 0;
	padding:0 6px
}
.statistics_bgcolor {
	background:#FFFCCE;
	float:left;
	width:323px;
	overflow:hidden;
	padding:5px 10px
}
.np_des_mat130 {
	margin-top:130px!important
}
.np_des_footer {
	background:#22265c;
	height:45px;
	width:100%;
	margin-top:-45px;
	float:left;
}
.np_des_footerleft {
	width:450px;
	height:45px;
	line-height:45px;
	float:left;
	padding:0 0 0 10px;
	color:#fff;
	font-size:10px;
	float:left;
}
.np_des_footerright {
	float:right;
	width:200px;
	height:30px;
	text-align:right;
	padding:10px 10px 0 0
}
.oisdes_subheader_cont_wrapper {
	float:left;
	height:36px;
	width:100%;
	background:#f5f5f5;
	border-bottom:1px #CCC solid
}
.oisdes_topmenu_rightbox {
	float:left;
	height:36px
}
.oisdes_topmenu_rightbox ul {
	float:left
}
.oisdes_topmenu_rightbox ul li {
	display:block;
	float:left
}
.oisdes_topmenu_rightbox ul li a {
	color:#000;
	font-size:14px;
	line-height:38px;
	padding:0 15px
}
.oisdes_topmenu_rightbox ul li a:hover {
	background:#7fd6f7;
	color:#000;
	float:left;
	line-height:38px;
	text-decoration:none;
	padding:0 15px
}
.oisdes_topmenu_rightbox ul li a.current {
	background:#fff;
	color:#000;
	float:left;
	line-height:38px;
	padding:0 15px
}
.statistics_total_wqrap {
	float:left;
	width:730px
}
.right_cont_newwrapper {
	float:left;
	width:900px;
	padding:50px
}
.statistics_graph {
	float:left;
	width:343px;
	height:300px;
	margin:0 20px 20px 0
}
.statistics_main_wrapper {
	float:left;
	width:343px;
	height:230px;
	border-left:1px #ccc solid;
	border-bottom:1px #ccc solid
}
.statistics_graphs_box_div {
	float:left;
	margin:0 0 10px 23px;
	width:300px;
	background:#ccc;
	height:210px
}
.preference_module_names, .statistics_preference_box1, .statistics_preference_box2, .statistics_preference_box_content {
	float:left;
	margin:0;
	width:170px;
	line-height:30px;
	padding:0 0 0 10px;
	color:#fff;
	font-size:14px;
	background:#7d7e7d;
	background:-moz-linear-gradient(top, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%);
	background:-webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%);
	background:linear-gradient(to bottom, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0 )
}
.preference_module_names {
	width:180px;
	font-size:14px;
	background:0 0;
	color:#000;
	line-height:40px;
	height:40px;
	padding:0
}
.statistics_preference_box2 {
	width:168px;
	margin:0 0 0 1px
}
.statistics_preference_box_content {
	width:168px;
	background:0 0;
	height:40px;
	border-left:1px #f5f5f5 solid
}
.preference_top_heading_wrap {
	width:730px;
	margin:0;
	overflow:hidden
}
.preference_bottom_content_wrap {
	width:724px;
	overflow:hidden;
	border-bottom:1px #CCC dotted
}
.checkbox_margins {
	margin:5px 0 5px 6px
}
input[type=radio].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow:hidden;
	clip:rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0
}
.bar, .group {
	position:relative
}
input[type=radio].css-checkbox+label.css-label {
	padding-left:35px;
	height:30px;
	display:inline-block;
	line-height:30px;
	background-repeat:no-repeat;
	background-position:0 0;
	font-size:30px;
	vertical-align:middle;
	cursor:pointer
}
.bar, input {
	display:block
}
.popup, .search-field, input {
	font-size:14px
}
input[type=radio].css-checkbox:checked+label.css-label {
	background-position:0 -30px
}
label.css-label {
	background:url(../images/csscheckbox.png) no-repeat;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.group {
	margin-bottom:30px
}
input {
	padding:10px 10px 10px 5px;
	border:none;
	font-weight:700;
	border-bottom:1px solid #ccc
}
input:focus~label, input:valid~label {
top:-20px;
font-size:14px;
color:#22A7F0
}
.bar:after, .bar:before {
	content:'';
	height:2px;
	width:0;
	bottom:1px;
	position:absolute;
	background:#22A7F0;
transition:.2s ease all;
-moz-transition:.2s ease all;
-webkit-transition:.2s ease all
}
.government:hover, .personal:hover {
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-o-transition:all .5s ease
}
.bar:before {
	left:50%
}
.bar:after {
	right:50%
}
input:focus~.bar:after, input:focus~.bar:before {
width:50%
}
.highlight {
	position:absolute;
	height:60%;
	width:100px;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:.5
}
input:focus~.highlight {
-webkit-animation:inputHighlighter .3s ease;
-moz-animation:inputHighlighter .3s ease;
animation:inputHighlighter .3s ease
}
@-webkit-keyframes inputHighlighter {
from {
background:#5264AE
}
to {
	width:0;
	background:0 0
}
}
@-moz-keyframes inputHighlighter {
from {
background:#5264AE
}
to {
	width:0;
	background:0 0
}
}
@keyframes inputHighlighter {
from {
background:#5264AE
}
to {
	width:0;
	background:0 0
}
}
.ttdes_flightsearch_topheadings_box, .ttdes_login_control {
	background:linear-gradient(to bottom, rgba(125, 126, 125, 1) 0, rgba(14, 14, 14, 1) 100%) rgba(0, 0, 0, 0);
	color:#fff;
	font-size:12px;
	font-weight:700;
	height:30px;
	line-height:30px;
	margin:20px 0 0;
	width:625px
}
.ttdes_login_control {
	width:890px
}
.ttdes_flight_arrival_box, .ttdes_flight_browser, .ttdes_flight_departure_box, .ttdes_flight_duration_box, .ttdes_flight_ipaddress, .ttdes_flight_reset, .ttdes_stores_date, .ttdes_stores_orderid {
	border-right:1px solid #e6e6e6;
	float:left;
	padding:0 0 0 10px;
	text-align:left;
	width:100px
}
.ttdes_flight_arrival_box {
	padding:0 0 0 10px;
	text-align:left;
	width:240px
}
.ttdes_flight_browser, .ttdes_flight_ipaddress, .ttdes_flight_reset {
	border-right:0 solid #e6e6e6;
	padding:0 0 0 10px;
	width:100px
}
.ttdes_flightsearch_history_content, .ttdes_login_control_content {
	border-bottom:1px solid #ccc;
	font-weight:400;
	height:auto;
	margin:0 0 5px;
	padding:8px 0;
	width:625px
}
.ttdes_flight_duration_box, .ttdes_stores_date, .ttdes_stores_orderid {
	border-right:0 solid #e6e6e6;
	padding:0 0 0 10px
}
.ttdes_login_control_content {
	width:890px
}
.ttdes_stores_orderid {
	float:left;
	text-align:left;
	width:100px
}
.ttdes_stores_date {
	text-align:left;
	width:240px
}
.ttdes_flight_duration_box {
	word-wrap:break-word;
	width:140px
}
.pat5 {
	padding-top:5px!important
}
.click_moduleHeader {
	float:left;
	height:65px;
	width:900px;
	background-color:#202578
}
.click_moduleLogo {
	float:left;
	width:90px;
	height:45px;
	margin:10px
}
.click_profile {
	float:left;
	margin:10px 30px 0 50px;
	overflow:hidden;
	width:200px;
	height:45px
}
.click_mhProfilePic, .click_profilePicture {
	width:45px;
	float:left
}
.click_mhProfilePic {
	cursor:pointer;
	height:45px;
	overflow:hidden
}
.click_profileName h4 {
	float:left;
	margin:10px 0 0 5px;
	font:16px Arial;
	color:#fff
}
.click_headerOptions {
	float:left;
	margin:15px 0 0 5px;
	width:30px;
	height:30px
}
.click_headerOptions ul {
	float:left;
	list-style:none
}
.click_headerIcon {
	cursor:pointer;
	float:left;
	margin:2.5px 0 0 2.5px
}
.click_NotificationsDropDown, .click_headerOptions ul ul {
	display:none
}
.click_headerOptions ul li:hover ul {
	display:block;
	float:left;
	max-height:422px;
	overflow:hidden;
	position:relative;
	z-index:100
}
.click_headerOptions ul ul li.click_bubble {
	width:50px;
	height:15px
}
.click_headerOptions ul ul li.click_bubble img {
	width:15px;
	height:10px;
	margin:0 0 0 5px
}
.click_headerOptions ul ul li.click_settingOption {
	cursor:pointer;
	padding:5px 0 0 5px;
	color:#333;
	width:150px;
	height:20px;
	border-bottom:solid 1px #ddd;
	font:12px Arial;
	background-color:#eee
}
.click_headerOptions ul ul li.click_settingOption:hover {
	color:#fff;
	background-color:#aaa
}
.click_NotificationCount {
	float:left;
	position:absolute;
	box-shadow:0 0 5px #333;
	width:16px;
	height:16px;
	overflow:hidden;
	margin:-5px 0 0 -10px;
	border-radius:10px;
	background-color:red;
	border:1px solid #b00
}
.click_NotificationCount h6 {
	float:left;
	font:11px Arial;
	color:#fff;
	margin:1px 0 0 5px
}
.click_NotificationDropDown {
	float:left
}
.click_NotificationListWrapper {
	display:none;
	float:left;
	position:absolute;
	margin:50px 0 0 -400px;
	width:500px;
	height:300px;
	border:1px solid #ccc;
	background-color:#fff;
	z-index:99
}
.notificationsDisplay {
	display:block
}
.notificationsHide {
	display:none
}
.click_NotifyBubble {
	float:left;
	margin:-20px 0 0 440px;
	width:25px;
	height:20px
}
.click_NotifyWrapper {
	float:left;
	overflow-X:hidden;
	overflow-Y:Auto;
	margin-top:5px;
	width:500px;
	height:275px
}
.click_seeallNotifications {
	cursor:pointer;
	text-align:center;
	float:left;
	padding-top:5px;
	width:500px;
	height:25px;
	background-color:#e5e5e5;
	font:14px Arial;
	color:#777
}
.click_notificationType {
	cursor:pointer;
	float:left;
	width:500px;
	height:60px;
	border-bottom:dotted 1px #aaa
}
.click_notificationType:hover {
	background-color:#eee;
	border-bottom:solid 1px #aaa
}
.click_notificationImageWrapper {
	float:left;
	overflow:hidden;
	margin:5px;
	width:60px;
	height:50px
}
.click_notificationImageWrapper img {
	float:left;
	width:60px
}
.click_notificationTextWrapper {
	float:left;
	padding:0;
	width:350px;
	height:50px;
	overflow:hidden;
	margin:5px 0 0
}
.click_notificationText {
	float:left;
	width:400px;
	font:14px Arial;
	color:#555;
	overflow:hidden;
	max-height:35px
}
.click_notifyDateWrapper {
	float:right;
	overflow:hidden;
	margin:3px 5px 0 0;
	text-align:right;
	font:11px Arial;
	color:#777;
	width:70px
}
.click_notificationMessage {
	float:left;
	font:12px Arial;
	margin:2px 0 0 5px;
	color:#777;
	width:350px;
	height:28px;
	overflow:hidden
}
.click_notificationOptions {
	float:left;
	margin:2px
}
.click_acceptBtn {
	float:left;
	padding:3px 15px;
	background:linear-gradient(#eee, #ccc);
	border:1px solid #ccc;
	font:12px Arial;
	color:#555
}
.click_acceptBtn:hover {
	background:linear-gradient(#09F, #06F);
	border:1px solid #05F;
	color:#FFF
}
#search-form {
	width:430px;
	margin:13px 0 0 700px;
	padding:0;
	float:left;
	position:absolute;
	background:url(../images/form-bg.png) top center no-repeat
}
.form-container {
	width:450px;
	height:40px;
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:left;
	background:#fff;
	border-radius:2px
}
.search-field {
	float:left;
	width:355px;
	height:26px;
	margin:6px 0 0 8px;
	padding:0 3px;
	font-family:'Open Sans', Arial, sans-serif;
	color:#888;
	font-style:italic;
	font-weight:400;
	background:#fff;
	border:1px solid #ccc;
	border-radius:2px;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#fff));
	background-image:-webkit-linear-gradient(top, #f5f5f5, #fff);
	background-image:-moz-linear-gradient(top, #f5f5f5, #fff);
	background-image:-ms-linear-gradient(top, #f5f5f5, #fff);
	background-image:-o-linear-gradient(top, #f5f5f5, #fff);
	background-image:linear-gradient(top, #f5f5f5, #fff);
	-moz-box-shadow:0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
	-webkit-box-shadow:0 1px 1px #e2e2e2 inset, 0 1px 0 #fff
}
.submit, .submit-container {
	width:60px;
	padding:0;
	float:left;
	cursor:pointer
}
.search-field:focus {
	outline:0;
	color:#666;
	border:1px solid #aaa;
	-moz-box-shadow:0 1px 1px #dadada inset;
	-webkit-box-shadow:0 1px 1px #dadada inset;
	box-shadow:0 1px 1px #dadada inset
}
.submit-container {
	height:27px;
	margin:6px 0 0 7px;
	background:#e63c0d;
	border:1px solid #d62700;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#f55f15), to(#e63c0d));
	background-image:-webkit-linear-gradient(top, #f55f15, #e63c0d);
	background-image:-moz-linear-gradient(top, #f55f15, #e63c0d);
	background-image:-ms-linear-gradient(top, #f55f15, #e63c0d);
	background-image:-o-linear-gradient(top, #f55f15, #e63c0d);
	background-image:linear-gradient(top, #f55f15, #e63c0d);
	-moz-box-shadow:0 1px 1px #fa8e1f inset, 0 1px 0 #fff;
	-webkit-box-shadow:0 1px 1px #fa8e1f inset, 0 1px 0 #fff;
	box-shadow:0 1px 1px #fa8e1f inset, 0 1px 0 #fff
}
.submit-container:focus, .submit-container:hover {
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e63c0d), to(#f55f15));
	background-image:-webkit-linear-gradient(top, #e63c0d, #f55f15);
	background-image:-moz-linear-gradient(top, #e63c0d, #f55f15);
	background-image:-ms-linear-gradient(top, #e63c0d, #f55f15);
	background-image:-o-linear-gradient(top, #e63c0d, #f55f15);
	background-image:linear-gradient(top, #e63c0d, #f55f15);
	-moz-box-shadow:0 1px 1px #f36215 inset, 0 1px 0 #fff;
	-webkit-box-shadow:0 1px 1px #f36215 inset, 0 1px 0 #fff;
	box-shadow:0 1px 1px #f36215 inset, 0 1px 0 #fff
}
.submit-container:active {
	outline:0;
	-moz-box-shadow:0 1px 6px #e4340b inset;
	-webkit-box-shadow:0 1px 6px #e4340b inset;
	box-shadow:0 1px 6px #e4340b inset
}
.submit {
	height:32px;
	margin:0;
	border:0 solid #000;
	background:url(../images/magnifier.png) 20px 6px no-repeat;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px
}
.popup {
	width:175px;
	margin:3px 0 0 45px;
	padding:1px 0 0;
	background:url(../images/popup-bg.png) 10px 0 no-repeat;
	font-family:Georgia, serif;
	font-weight:400;
	color:#fff;
	text-align:left
}
.popup p {
	margin:8px 0 0;
	padding:8px 14px 9px;
	background:#3d3d3d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:0 2px 3px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0 2px 3px rgba(0, 0, 0, .2);
	box-shadow:0 2px 3px rgba(0, 0, 0, .2)
}
.peoples_box_mainwrap {
	float:left;
	width:220px;
	padding:4px;
	border-radius:2px;
	border:1px solid #CCC;
	height:280px;
	margin:0 10px 0 0;
	background:linear-gradient(to bottom, rgba(246, 249, 234, 1) 1%, rgba(255, 255, 255, 1) 100%) rgba(0, 0, 0, 0)
}
.peoples_box_leftlogo {
	float:left;
	width:50px;
	height:50px;
	margin:-8px 0 0 -12px
}
.peoples_box_leftlogo img {
	width:80px;
	height:70px
}
.peoples_box_middle_image {
	width:120px;
	height:120px;
	border-radius:100px;
	margin:70px 0 0 45px
}
.peoples_box_middle_image img {
	width:124px;
	height:124px;
	background:#fff;
	border:1px solid #CCC;
	padding:3px;
	border-radius:100px
}
.peoples_box_middle_image_name {
	width:224px;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:#fff;
	padding:0;
	text-align:center;
	background:#666;
	margin:52px 0 0 -2px
}
.peoples_alphabets, .peoples_alphabets ul {
	width:730px;
	float:left
}
.peoples_alphabets {
	border-bottom:1px #CCC dotted;
	margin:0 0 30px;
	padding:0 0 10px
}
.peoples_alphabets ul li {
	width:22px;
	float:left;
	margin:0 4px 0 0;
	list-style:none;
	height:26px;
	line-height:26px;
	text-align:center;
	background:linear-gradient(to bottom, rgba(246, 248, 249, 1) 0, rgba(229, 235, 238, 1) 50%, rgba(215, 222, 227, 1) 51%, rgba(245, 247, 249, 1) 100%) rgba(0, 0, 0, 0);
	border:1px solid #ccc
}
.peoples_alphabets ul li a {
	color:#000;
	display:block;
	text-decoration:none
}
.button_box2 {
	background:#06f;
	border:0 solid #6a8d3a;
	border-radius:2px;
	color:#fff;
	cursor:pointer;
	float:left;
	font-size:12px;
	font-weight:400;
	height:26px;
	padding:0 10px
}
.button_box2:hover {
	background:#09c;
	border:0 solid #8e2627;
	border-radius:2px
}
.peoples_scroll_divbox {
	float:left;
	width:750px;
	height:600px;
	overflow-y:scroll
}
.minheight700 {
	min-height:700px
}
.snapshop_editimage_wrap {
	background:#fff;
	border:1px solid #ccc;
	height:auto;
	margin:200px auto;
	overflow:hidden;
	padding:10px;
	width:500px
}
.snap_edit_wrap {
	float:left;
	height:auto;
	margin:0 0 10px;
	width:480px
}
.snap_edit_wrap img {
	border:1px solid #ccc;
	height:250px;
	margin:0;
	width:480px
}
.oneshop_paybook_yesorno_buttons {
	margin:0 auto;
	padding:20px 0 0;
	text-align:center;
	width:auto
}
.oneshop_addcardpopup, .oneshop_currencyConvertorPopup {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, .5);
	z-index:9999
}
.oneshop_currencyConvertorWrapper {
	margin:50px auto;
	width:350px;
	height:400px;
	border-radius:5px 5px 0 0;
	background-color:#f5f5f5;
	box-shadow:0 0 10px #333
}
.oneshop_addcardclose, .oneshop_currencyConvertorCloseBtn, .oneshop_currencyConvertorCloseBtn_two {
	cursor:pointer;
	float:right;
	position:absolute;
	margin:-15px 0 0 490px;
	background-color:#333;
	border:1px solid #fff;
	font:12px Arial;
	color:#fff;
	box-shadow:0 0 5px #555;
	padding:6px 0 2px 8px;
	width:17px;
	height:17px;
	border-radius:15px
}
#new-search-form {
	width:604px;
	margin:13px 0 0 400px;
	padding:0;
	float:left;
	position:absolute;
	background:url(../images/form-bg.png) top center no-repeat
}
.new-form-container {
	width:604px;
	height:40px;
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:left;
	border-radius:2px
}
.new-search-field {
	float:left;
	width:600px;
	height:26px;
	margin:6px 0 0 8px;
	padding:0 3px;
	font-family:'Open Sans', Arial, sans-serif;
	font-size:14px;
	color:#888;
	font-style:italic;
	font-weight:400;
	background:#22265C;
	border-bottom:1px solid;
	outline:0;
	text-indent:40px
}
.new-submit, .new-submit-container {
	width:60px;
	padding:0;
	cursor:pointer
}
.suggestWrapper h1, .suggestWrapper h4 {
	float:left;
	color:#000;
	overflow:hidden
}
.new-submit-container {
	float:left;
	height:27px;
	margin:0 0 0 -616px;
	-moz-border-radius:6px;
	border-radius:6px
}
.new-submit {
	float:left;
	height:32px;
	margin:0;
	border:0 solid transparent;
	background:url(../images/magnifier.png) 20px 6px no-repeat
}
div.suggestionDivContainer {
	width:604px;
	background-color:#fff;
	height:335px;
	padding:1px;
	margin-left:8px;
	border:2px solid #7FD6F7;
	margin-top:-7px
}
.pad3 {
	padding:3px
}
.suggestWrapper {
	float:left;
	width:100%;
	height:75px;
	cursor:pointer;
	border-bottom:1px dotted #000
}
.suggestprofilePic {
	float:left;
	margin:5px;
	width:60px;
	height:60px;
	border-radius:40px;
	overflow:hidden
}
table, td {
	border:1px solid #888
}
.suggestprofilePic img {
	float:left;
	width:100%
}
.suggestWrapper h1 {
	padding:5px 0 0 5px;
	height:30px;
	width:70%;
	font:20px Arial;
	line-height:30px;
	opacity:.7
}
.suggestWrapper h4 {
	padding:0 0 0 5px;
	font:12px Arial;
	opacity:.6;
	width:85%
}
.card-text, table {
	line-height:30px
}
.suggession-close {
	float:right;
	padding:10px;
	margin-bottom:-10px;
	z-index:100;
	cursor:pointer
}
.suggestWrapper:hover {
	background:rgba(34, 38, 92, .62)
}
#no-result-error {
	color:#22265C;
	padding:3px;
	text-align:center;
	font-weight:700;
	font-size:16px
}
.suggestWrapper:hover #suggest-desc, .suggestWrapper:hover .suggestFullName_home {
	color:#fff
}
.vcenter {
	margin-top:15px
}
.hotel_news_imgbox {
	height:300px;
	width:250px
}
.oneshop_right_newcontainer {
	float:right;
	width:260px
}
.completednow {
	background:linear-gradient(to right, #299a0b 0, #299a0b 100%) rgba(0, 0, 0, 0);
	color:#fff;
	font-size:10px;
	padding:5px;
	margin:0 0 0 10px;
	width:100px
}
.fs22 {
	font-size:22px!important
}
.myaccount {
	color:#000;
	font-size:26px;
	margin-left:31%
}
.government, .offshoreaccount {
	width:266px;
	padding:10px;
	float:left;
	color:#fff;
	margin-left:10px;
	text-align:center
}
.government h3, .offshoreaccount, .personal h3 {
	font-size:20px
}
.personal {
	width:266px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#ea066c), to(#cb0043));
	background:-webkit-linear-gradient(left, #ea066c, #cb0043);
	background:-moz-linear-gradient(left, #ea066c, #cb0043);
	background:-o-linear-gradient(left, #ea066c, #cb0043);
	background:-ms-linear-gradient(left, #ea066c, #cb0043);
	background:linear-gradient(left, #ea066c, #cb0043);
	background-color:#ea066c;
	padding:10px;
	float:left;
	color:#fff;
	text-align:center
}
.personal:hover {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
transition:all .5s ease
}
.government {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#0053fb), to(#0538a0));
	background:-webkit-linear-gradient(left, #0053fb, #0538a0);
	background:-moz-linear-gradient(left, #0053fb, #0538a0);
	background:-o-linear-gradient(left, #0053fb, #0538a0);
	background:-ms-linear-gradient(left, #0053fb, #0538a0);
	background:linear-gradient(left, #0053fb, #0538a0);
	background-color:#0053fb
}
.government:hover {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
transition:all .5s ease
}
.offshoreaccount {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#00c41c), to(#026810));
	background:-webkit-linear-gradient(left, #00c41c, #026810);
	background:-moz-linear-gradient(left, #00c41c, #026810);
	background:-o-linear-gradient(left, #00c41c, #026810);
	background:-ms-linear-gradient(left, #00c41c, #026810);
	background:linear-gradient(left, #00c41c, #026810);
	background-color:#00c41c
}
.offshoreaccount:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-o-transition:all .5s ease;
transition:all .5s ease
}
hr {
	width:12%;
	margin:10px 0 0;
	padding:0;
	height:3px;
	background-color:#000;
	top:0
}
.bar-graph, .line-graph {
	width:200px;
	float:left
}
.graph {
	margin-top:30px
}
.bar-graph {
	margin-left:248px
}
.rightside {
	margin-top:20px
}
.leftside {
	margin-top:30px
}
table {
	width:315px;
	margin-top:10px
}
.expensestable {
	float:left
}
.used {
	float:left;
	margin-top:55px;
	margin-left:10px
}
.ads1 {
	position:relative;
	margin-top:-355px;
	margin-left:670px
}
.CSSTableGenerator {
	margin:0;
	padding:0;
	width:429px;
	border:1px solid #B8B8B8;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-topright:0;
	-moz-border-radius-topleft:0;
	-webkit-border-radius:0;
	border-radius:0
}
.CSSTableGenerator table {
	width:100%;
	height:100%;
	margin:0;
	padding:0
}
.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-right-radius:0
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0
}
.CSSTableGenerator tr:last-child td:first-child {
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	border-bottom-left-radius:0
}
.CSSTableGenerator tr:hover td {
	background-color:#e5e5e5
}
.CSSTableGenerator td {
	background:-o-linear-gradient(bottom, #fff 5%, #e5e5e5 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(.05, #fff), color-stop(1, #e5e5e5));
	background:-moz-linear-gradient(center top, #fff 5%, #e5e5e5 100%);
	background:-o-linear-gradient(top, #fff, e5e5e5);
	background-color:#fff;
	border:1px solid #fff;
	border-width:0 1px 1px 0;
	text-align:center;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:400;
	color:#000
}
.Heading, .Title, .cssnumber, .recentactivity h3 {
	font-weight:700
}
.CSSTableGenerator tr:last-child td {
	border-width:0 1px 0 0
}
.CSSTableGenerator tr td:last-child {
	border-width:0 0 1px
}
.CSSTableGenerator tr:last-child td:last-child {
	border-width:0
}
.CSSTableGenerator tr:first-child td {
	background:-o-linear-gradient(bottom, #ccc 5%, #b2b2b2 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(.05, #ccc), color-stop(1, #b2b2b2));
	background:-moz-linear-gradient(center top, #ccc 5%, #b2b2b2 100%);
	background:-o-linear-gradient(top, #ccc, b2b2b2);
	background-color:#ccc;
	border:0 solid #fff;
	text-align:center;
	border-width:0 0 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:700;
	color:#000
}
.CSSTableGenerator tr:first-child:hover td {
	background:-o-linear-gradient(bottom, #ccc 5%, #b2b2b2 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(.05, #ccc), color-stop(1, #b2b2b2));
	background:-moz-linear-gradient(center top, #ccc 5%, #b2b2b2 100%);
	background:-o-linear-gradient(top, #ccc, b2b2b2);
	background-color:#ccc
}
.CSSTableGenerator tr:first-child td:first-child {
	border-width:0 0 1px
}
.CSSTableGenerator tr:first-child td:last-child {
	border-width:0 0 1px 1px
}
.box p {
	font-size:15px;
	margin-top:10px;
	BACKGROUND-COLOR:#f8f8f8;
	width:600px;
	padding:16px
}
.box p:before {
	content:"";
	display:block;
	background:url(images/heart.png) no-repeat;
	width:20px;
	height:18px;
	float:left;
	margin:0 6px 0 0
}
.recentactivity {
	margin-top:50PX;
	margin-bottom:30px
}
.recentactivity h3 {
	font-size:20px
}
.Table {
	display:table;
	width:630px;
	text-align:center
}
.Title {
	display:table-caption;
	text-align:center;
	font-size:larger
}
.Heading, .Row {
	display:table-row
}
.Heading {
	text-align:center;
	background-color:#0996FF;
	color:#fff
}
.Cell {
	display:table-cell;
	border:1px solid #EEEAEA;
	border-width:thin;
	padding:10px 5px
}
.black_overlay, .white_content {
	display:none;
	position:absolute
}
.cell p {
	text-decoration:none
}
.button {
	border:none;
	color:#fff;
	float:right;
	padding:10px;
	background:#4096ee;
	background:-moz-linear-gradient(top, #4096ee 0, #4096ee 100%);
	background:-webkit-linear-gradient(top, #4096ee 0, #4096ee 100%);
	background:linear-gradient(to bottom, #4096ee 0, #4096ee 100%)
}
.card-text, .cssnumber, .paybook_listview_pop {
	border:1px solid #ccc
}
.black_overlay {
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#f8f8f8;
	z-index:1001;
	-moz-opacity:.8;
	opacity:.8;
	filter:alpha(opacity=80)
}
.white_content {
	top:25%;
	height:40%;
	padding:16px;
	z-index:1002
}
.cardlogotable {
	width:400px
}
.photo svg {
	width:200px
}
.card-logo {
	float:left
}
.card-text {
	margin-left:-15px;
	margin-top:-12px;
	background-color:#fff;
	padding:10px;
	height:580px
}
.Table-popup {
	text-align:left
}
.btn, .cssnumber {
	text-align:center
}
form {
	padding:20px;
	width:400px
}
.cssnumber {
	padding:10px 10px 10px 5px;
	display:block;
	height:26px;
	font-size:14px
}
.oneshop_select_border {
	width:200px;
	height:28px;
	border:1px solid #ccc
}
.paybook_listview_pop {
	background:#fff;
	height:420px;
	margin:10px auto;
	overflow:hidden;
	padding:10px;
	width:480px
}
.paybook_data_scroll {
	float:left;
	height:350px;
	margin:0 0 10px;
	width:480px;
	overflow-y:scroll
}
.moduleProfileInfoWrap {
	float:left;
	height:45px;
	margin:10px 0 0 90px;
	width:240px
}
.moduleProfileInfoPicWrap, .moduleProfileInfoPicWrap img {
	float:left;
	width:45px;
	height:45px
}
.moduleProfileInfoPicWrap {
	border-radius:30px;
	overflow:hidden
}
a img {
	border:none
}
.moduleProfileInfoNameWrap {
	float:right;
	height:45px;
	line-height:40px;
	overflow:hidden;
	width:190px
}
.moduleProfileInfoNameWrap h4 {
	color:#fff;
	float:left;
	font:700 14px/35px Arial;
	margin:5px 0 0
}
.deactiv_textbox {
	background:url(../images/cl.png) 195px 0 no-repeat #FFF;
	height:20px;
	width:220px;
	padding:3px 0 3px 5px;
	margin:0 0 0 20px;
	border:1px solid #848484
}
.green {
	color:#0C0!important
}
.gray2 {
	color:#333!important
}
.fs30 {
	font-size:30px
}
.fs26 {
	font-size:26px
}
.headerwrapper_new {
	width:100%;
	float:left
}
.container_wrapper {
	background:#fff;
	float:left;
	margin:10px;
	width:98%
}
.chat_left_container {
	float:left;
	margin-right:0;
	margin-top:0;
	width:22%
}
.right_container_wrap {
	float:right;
	margin-left:1%;
	width:76%
}
.imagesize {
	width:100%;
	height:320px
}
.module_privacy_icons {
	margin-left:5px;
	margin-right:10px;
	margin-top:5px
}
.form-control2 {
	display:block;
	width:94%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.428571429;
	color:#666;
	background:rgba(255, 255, 255, .5);
	font-weight:400;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-group2 {
	margin:2% 0 0;
	width:35%;
	padding:0x
}
#contact-page .contact-form .form-group2 label {
	color:#4E4E4E;
	font-size:16px;
	font-weight:300
}
.form-group2 .form-control2 {
	padding:2px 12px;
	border-color:#ccc;
	box-shadow:none
}
.form-group2 .form-control2:focus, .form-group2 .form-control2:hover {
	border-color:#6ab44a
}
.form-control2:focus {
	box-shadow:none;
	outline:0
}
.account_suspended_wrappee {
	margin:0 auto;
	width:92%;
	font-family:"Open Sans", Arial, sans-serif;
	vertical-align:baseline;
	font-size:12px
}
.np_des_mab30 {
	margin-bottom:30px!important
}
.btn {
transition:all .2s linear 0s;
	-moz-user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:0;
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	font-weight:400;
	line-height:1.42857;
	margin-bottom:0;
	padding:8px 20px;
	vertical-align:middle;
	white-space:nowrap;
	width:auto
}
.btn-primary {
	color:#fff;
	background-color:#4d89f9;
	border-color:#3371e6
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color:#3371e6;
	border-color:#1b59cd;
	color:#fff
}
.btn-ghost {
	border-color:#4d89f9;
	color:#fff
}
.btn-ghost:active, .btn-ghost:focus, .btn-ghost:hover {
	background-color:#3371e6;
	border-color:#1b59cd
}
.mat75 {
	margin-top:75px
}
#submit_div {
	display:none
}
.radio_p {
	width:57px
}
input[type=radio] {
	width:22px;
	float:left
}
.radio_p span {
	float:left;
	font-size:13px;
	margin-top:4px
}
/* manasa wriiten on 17-11-2016 */
.oneidnet_wraper {
	padding-top: 125px;
	height: 100%;
	padding-bottom: 51px;
	overflow: hidden;
	padding-left: 20px;
	box-sizing: border-box;
	padding-right: 20px;
	min-height:662px;
}
.oneidnet_wraper * {
	box-sizing:border-box;
}
.header_wrp {
	width:100%;
	margin-bottom:20px;
	position:relative;
	padding-right:200px;
	border-bottom:1px solid #e4e4e4;
	padding-right:400px;
}
.header_wrp h1 {
	font-size:20px;
	padding:10px 0;
}
.searcharea {
	position: absolute;
	right: 0px;
	border: 1px solid #d4d4d4;
	box-shadow: none;
	top: -8px;
	border-radius: 6px;
}
.searcharea input {
	padding-left: 49px;
	border: none;
	background: #ffffff;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	width: 326px;
	border-radius:6px;
}
.searcharea img {
	position: absolute;
	left: 11px;
	top: 8px;
	z-index: 2;
	cursor:pointer;
}
.searcharea:before {
	content: '';
	width: 37px;
	height: 36px;
	background: #b4b4b4;
	z-index: 1;
	position: absolute;
	left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.searcharea:after {
	content: '';
	width: 1px;
	height: 36px;
	background:#fbfbfb;
	top:0px;
	z-index: 1;
	position: absolute;
	left: 37px;
}
.searcharea input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #d4d1d1;
}
.searcharea input::-moz-placeholder { /* Firefox 19+ */
 color: #d4d1d1;
}
.searcharea input:-ms-input-placeholder { /* IE 10+ */
 color: #d4d1d1;
}
.searcharea input:-moz-placeholder { /* Firefox 18- */
 color: #d4d1d1;
}
.oneidusers_wrap {
	width:100%;
	float:left;
}
.oneidusers_wrap ul {
	float:left;
	width:100%;
}
.oneidusers_wrap ul li {
	float: left;
	padding: 10px 10px 10px 90px;
	width: 24%;
	position: relative;
	min-height: 91px;
	border: 1px solid #e6e6e6;
	background: #f9f9f9;
	border-radius: 4px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.oneidusers_wrap ul li:nth-child(4n) {
margin-right:0px;
}
.oneidusers_wrap ul li img {
	width: 75px;
	height: 75px;
	position: absolute;
	border-radius: 50%;
	left: 6px;
	top: 7px;
	border: 3px solid #ffffff;
}
.oneidusers_wrap ul li h3 {
	font-size: 14px;
	margin: 9px 0;
}
.oneidusers_wrap ul li a {
	background: #49b8fb;
	padding: 6px 10px;
	margin-top: 2px;
	float: left;
	font-size:11px;
	border-radius: 3px;
	color: #fff;
	text-decoration:none;
}
.spinner-lg, .spinner-md, .spinner-sm {
	position:relative;
	top:40%;
-moz-animation:rotation .6s infinite linear;
-ms-animation:rotation .6s infinite linear;
-webkit-animation:rotation .6s infinite linear;
	border-left:6px solid rgba(191, 224, 38, 1);
	border-radius:100%
}
@-webkit-keyframes rotation {
from {
-webkit-transform:rotate(0)
}
to {
	-webkit-transform:rotate(359deg)
}
}
@-moz-keyframes rotation {
from {
-moz-transform:rotate(0)
}
to {
	-moz-transform:rotate(359deg)
}
}
@-ms-keyframes rotation {
from {
-ms-transform:rotate(0)
}
to {
	-ms-transform:rotate(359deg)
}
}
@keyframes rotation {
from {
transform:rotate(0)
}
to {
	transform:rotate(359deg)
}
}
.spinner-lg {
	height: 100px;
	width: 100px;
	border-right: 6px solid rgba(5, 174, 63, 1);
	border-bottom: 6px solid rgba(5, 174, 63, 1);
	border-top: 6px solid rgba(95, 174, 63, 1);
	margin:0 auto;
}
.spinner-sm {
	height: 30px;
	width: 30px;
	border-right: 6px solid rgba(5, 140, 63, 1);
	border-bottom: 6px solid rgba(5, 144, 63, 1);
	border-top: 6px solid rgba(95, 140, 63, 1);
}
.spinner-md {
	height: 60px;
	width: 60px;
	border-right: 6px solid rgba(5, 174, 63, 1);
	border-bottom: 6px solid rgba(5, 174, 63, 1);
	border-top: 6px solid rgba(95, 174, 63, 1);
}
.findcontact_sugg {
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.32);
	-webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.32);
	background: #fff;
	width: 100%;
	height: 336px;
	overflow-x: hidden;
	overflow-y: auto;
	list-style: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	position: absolute;
	top: 33px;
	left: 0;
	right: 0;
}
.findcontact_sugg * {
	box-sizing: border-box;
}
.findcontact_sugg li {
	list-style: none;
	display: table;
	min-height:55px;
	color: #333333;
	cursor: pointer;
	width: 100%;
	padding-left: 61px;
	position: relative;
	height: 56px;
}
.findcontact_sugg li:hover {
	background: #e2e2e2;
}
.findcontact_sugg li img {
	position: absolute;
	left: 10px;
	top: 8px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.findcontact_sugg li h3 {
	font-size: 14px;
	font-family: Arial, helvetica, sans-serif;
	display:table-cell;
	vertical-align: middle;
}
.suggnotfound {
	padding: 150px 0!important;
}
.suggnotfound h2 {
	color:#b3b3b3;
	font-size: 20px;
	text-align: center;
}
.notfound {
	width: 100%;
	height: 20%;
	display: none;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	background: #f2f2f2;
	border: 1px solid #e8e8e8;
	color: #333333;
}
/* */
.oneidapp_wrapper {
	padding-top: 125px;
	height: 100%;
	padding-bottom: 51px;
	overflow: hidden;
	padding-left: 3%;
	box-sizing: border-box;
	padding-right: 3%;
	min-height: 662px;
	float:left;
	width:100%;
}
.oneidapp_wrapper * {
	box-sizing:border-box;
}
.appcontainer .app_header {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.appcontainer .app_header h1 {
	width: auto;
	margin: 13px auto;
	font-size: 22px;
	display: table;
	font-family: Arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #22265c;
	border-bottom: 1px dashed #d0d0d0;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.appconnt_top {
	float: left;
	width: 100%;
	padding: 20px;
	background: #ffffff;
	padding-left: 234px;
	position:relative;
	padding-right: 234px;
}
.oneidnet_logoforapp {
	background: #22265c;
	position:absolute;
	right:0px;
	float: left;
	padding: 0 17px 0 0;
	border-radius: 3px;
}
.app_logowithname {
	float: right;
	position: absolute;
	left: 0px;
	width: 234px;
	height: 121px;
	background: #f6f6f6;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #f0f0f0;
}
.app_logowithname img {
	width: 60px;
	height: 60px;
	margin: 10px;
}
.app_logowithname h2 {
	font-size: 18px;
	margin: 5px 0 0;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0 10px;
}
.not_connected {
	width:100%;
	float:left;
	min-height:114px;
	position:relative;
}
.not_connected:before {
	content:'';
	left:0px;
	right:0px;
	height:3px;
	background:#d7d7d7;
	position:absolute;
	top:50%;
}
.not_connected span {
	position:relative;
	top:11px;
}
.not_connected span:before {
	height:90px;
	position:absolute;
	content:'';
	width:60px;
	background:#c6c6c6;
	z-index:2;
	-webkit-animation: mymove1 5s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove1 5s infinite;
}
@-webkit-keyframes mymove1 {
 0% {
background:#c6c6c6;
}
 25% {
background:#c6c6c6;
}
 100% {
background:#02b11b;
}
}

/* Standard syntax */
@keyframes mymove1 {
 0% {
background:#c6c6c6;
}
 25% {
background:#c6c6c6;
}
 100% {
background:#02b11b;
}
}
.not_connected span.firstchild {
	float:left;
}
.not_connected span.firstchild:before {
	border-radius: 90px 0 0 90px;
	-moz-border-radius: 90px 0 0 90px;
	-webkit-border-radius: 90px 0 0 90px;
}
.not_connected span.firstchild:after {
	content: '';
	background: #c6c6c6;
	position: absolute;
	left: 60px;
	top: -8px;
	bottom: 0px;
	height: 106px;
	width: 6px;
	border-radius: 10px;
	z-index:2;
	-webkit-animation: mymove1 5s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove1 5s infinite;
}
.not_connected span.secondchild {
	right: 30%;
	float: right;
}
.not_connected span.secondchild:before {
	border-radius: 0 90px 90px 0;
	-moz-border-radius:0 90px 90px 0;
	-webkit-border-radius:0 90px 90px 0;
}
.not_connected span.secondchild:after {
	width: 42px;
	height: 38px;
	content: '';
	background: #ffffff;
	position: absolute;
	left: -42px;
	top: 18px;
	border-top: 8px solid #c6c6c6;
	border-bottom: 8px solid #c6c6c6;
	-webkit-animation: mymove2 5s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove2 5s infinite;
}
@-webkit-keyframes mymove2 {
 0% {
border-color:#c6c6c6;
}
 25% {
border-color:#c6c6c6;
}
 75% {
border-color:#c6c6c6;
}
 100% {
border-color:#fff;
}
}

/* Standard syntax */
@keyframes mymove2 {
 0% {
border-color:#c6c6c6;
}
 25% {
border-color:#c6c6c6;
}
 75% {
border-color:#c6c6c6;
}
 100% {
border-color:#fff;
}
}
.not_connected span.secondchild p {
	background: #c6c6c6;
	width: 6px;
	position: absolute;
	left: -4px;
	height: 107px;
	float: left;
	top: -8px;
	z-index: 1;
	border-radius: 10px;
	-webkit-animation: mymove1 5s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove1 5s infinite;
}
@-webkit-keyframes mymove1 {
 0% {
background:#c6c6c6;
}
 25% {
background:#c6c6c6;
}
 100% {
background:#02b11b;
}
}

/* Standard syntax */
@keyframes mymove1 {
 0% {
background:#c6c6c6;
}
 25% {
background:#c6c6c6;
}
 100% {
background:#02b11b;
}
}
.connected {
	width:100%;
	float:left;
	min-height:114px;
	position:relative;
}
.connected:before {
	content:'';
	left:0px;
	right:0px;
	height:3px;
	background:#d0d0d0;
	position:absolute;
	top:50%;
}
.connected span {
	position:relative;
	top:11px;
}
.connected span:before {
	height:90px;
	position:absolute;
	content:'';
	width:60px;
	background:#02b11b;
	-webkit-animation: connectedspan 5s; /* Safari 4.0 - 8.0 */
	animation: connectedspan 5s;
}
@-webkit-keyframes connectedspan {
 0% {
background:#c6c6c6;
}
 25% {
background:#02b11b;
}
 75% {
background:#c6c6c6;
}
 100% {
background:#02b11b;
}
}

/* Standard syntax */
@keyframes connectedspan {
 0% {
background:#c6c6c6;
}
 25% {
background:#02b11b;
}
 75% {
background:#c6c6c6;
}
 100% {
background:#02b11b;
}
}
.connected span.firstchild {
	float:left;
	z-index:2;
}
.connected span.firstchild:before {
	border-radius: 90px 0 0 90px;
	-moz-border-radius: 90px 0 0 90px;
	-webkit-border-radius: 90px 0 0 90px;
}
.connected span.firstchild:after {
	content: '';
	background: #02b11b;
	position: absolute;
	left: 60px;
	top: -8px;
	bottom: 0px;
	height: 107px;
	width: 6px;
	border-radius: 10px;
	-webkit-animation: connectedspan 5s; /* Safari 4.0 - 8.0 */
	animation: connectedspan 5s;
}
.connected span.secondchild {
	right: 30%;
	float: right;
}
.connected span.secondchild:before {
	border-radius: 0 90px 90px 0;
	-moz-border-radius:0 90px 90px 0;
	-webkit-border-radius:0 90px 90px 0;
}
.connected span.secondchild:after {
	content: '';
	background: #02b11b;
	position: absolute;
	left: 0;
	top: -8px;
	bottom: 0px;
	height: 107px;
	width: 6px;
	border-radius: 10px;
	-webkit-animation: connectedspan 5s; /* Safari 4.0 - 8.0 */
	animation: connectedspan 5s;
}
.connected p:before {
	width: 42px;
	height: 38px;
	content: '';
	background: #ffffff;
	position: absolute;
	left: -42px;
	top: 18px;
	border-top: 8px solid #ffffff;
	border-bottom: 8px solid #ffffff;
	-webkit-animation: connectedpin 5s; /* Safari 4.0 - 8.0 */
	animation: connectedpin 5s;
}
 @-webkit-keyframes connectedpin {
 0% {
border-color:#c6c6c6;
}
 25% {
border-color:#ffffff;
}
 75% {
border-color:#c6c6c6;
}
 100% {
border-color:#ffffff;
}
}

/* Standard syntax */
@keyframes connectedpin {
 0% {
border-color:#c6c6c6;
}
 25% {
border-color:#ffffff;
}
 75% {
border-color:#c6c6c6;
}
 100% {
border-color:#ffffff;
}
}
.connected .plug {
	width:110px;
	-webkit-animation: connected 5s; /* Safari 4.0 - 8.0 */
	animation: connected 5s;
}
@-webkit-keyframes connected {
 0% {
width: 196px;
}
 25% {
width: 110px;
}
 75% {
width: 196px;
}
 100% {
width:110px;
}
}

/* Standard syntax */
@keyframes connected {
 0% {
width: 196px;
}
 25% {
width: 110px;
}
 75% {
width: 196px;
}
 100% {
width:110px;
}
}
.connected h6{
	position: absolute;
    left: -2px;
    right: -25px;
    bottom: -35px;
    text-align: center;
    font-size: 23px;
    -webkit-animation: connectedhed 5s;
    animation: connectedhed 5s;
    opacity: 1;
    color: #02b11b;
    font-weight: bold;
    text-transform: uppercase;
}
@-webkit-keyframes connectedhed {
 0% {
opacity:0;
}
 100% {
opacity:0;
}
}

/* Standard syntax */
@keyframes connectedhed {
 0% {
opacity:0;
}
 100% {
opacity:0;	
}
}
.plug {
	width: 196px;
	position: relative;
	background: #ffffff;
	height: 114px;
	display: table;
	margin: 0 auto;
	-webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
 0% {
width: 196px;
}
 100% {
width: 110px;
}
}

/* Standard syntax */
@keyframes mymove {
 0% {
width: 196px;
}
 100% {
width: 110px;
}
}
.appconnt_middle {
	float: left;
	width: 100%;
	margin: 20px 0;
	padding-top: 30px;
	border-top: 1px solid #dfdfdf;
}
.appleft_container {
	float:left;
	width:68%;
	margin-right:2%;
}
.appright_container {
	float:right;
	width:30%;
	background:#3392c5;
	padding:30px 20px;
	background: rgba(53, 147, 197, 1);
	background: -moz-linear-gradient(top, rgba(53, 147, 197, 1) 0%, rgba(17, 110, 161, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53, 147, 197, 1)), color-stop(100%, rgba(17, 110, 161, 1)));
	background: -webkit-linear-gradient(top, rgba(53, 147, 197, 1) 0%, rgba(17, 110, 161, 1) 100%);
	background: -o-linear-gradient(top, rgba(53, 147, 197, 1) 0%, rgba(17, 110, 161, 1) 100%);
	background: -ms-linear-gradient(top, rgba(53, 147, 197, 1) 0%, rgba(17, 110, 161, 1) 100%);
	background: linear-gradient(to bottom, rgba(53, 147, 197, 1) 0%, rgba(17, 110, 161, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3593c5', endColorstr='#116ea1', GradientType=0 );
}
.appright_container h3 {
	font-size:18px;
	text-transform:uppercase;
	margin-bottom:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#ffffff;
	padding-bottom:10px;
	margin-bottom:10px;
}
.apploginform {
	float: left;
	width: 100%;
	padding-bottom: 0;
	border-bottom: 1px solid #1f75a2;
}
.form {
	float:left;
	width:100%;
}
.form-group {
	width:100%;
	float:left;
	margin-bottom:15px;
}
.form-control {
	width:100%;
	float:left;
}
.appright_container .form-control {
	background:rgba(33, 115, 160, 0.45);
	border:1px solid #47a9d7;
	padding:10px 15px;
	font-weight:normal;
	color:#ffffff;
}
.appright_container .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #5cbbe8;
}
.appright_container .form-control::-moz-placeholder { /* Firefox 19+ */
 color: #5cbbe8;
}
.appright_container .form-control:-ms-input-placeholder { /* IE 10+ */
 color: #5cbbe8;
}
.appright_container .form-control:-moz-placeholder { /* Firefox 18- */
 color: #5cbbe8;
}
.form-group .default-button {
	background: #22265c;
	color: #fff;
	border: 0px;
	margin: 0px auto;
	padding: 10px 32px;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 3px;
	transition:all ease-in-out 0.3s;
}
.form-group .default-button:hover {
	border:0px;
	background:#111339;
}
.button_group {
	text-align:right;
}
.appname_dtls {
	padding-left:150px;
	position:relative;
}
.applogo {
	position:absolute;
	left:0px;
	width:120px;
	height:120px;
}
.appname_dtls h2 {
	margin: 10px 0 15px;
	font-size: 24px;
	font-weight: bold;
	color: #646464;
}
.appname_dtls p {
	font-size:14px;
	line-height:20px;
	text-align:justify;
	margin-bottom:10px;
	color:#333333;
}
.appname_dtls ul {
	float:left;
	margin:10px 0 0;
}
.appname_dtls ul li {
	float:left;
	width:100%;
	font-size:14px;
	color:#fff;
	line-height:18px;
	margin-bottom:15px;
	color:#333333;
	padding-left:40px;
	position:relative;
}
.appname_dtls ul li:before {
	content:url('../../Images/darkarrow.png');
	position:absolute;
	left:15px;
	top:1px;
}
.appinfo {
	border-top: 1px solid #2c8fc3;
	float: left;
	padding-top: 20px;
}
.appinfo ul {
	float:left;
	width:100%;
}
.appinfo ul li {
	float:left;
	width:100%;
	font-size:14px;
	color:#fff;
	line-height:18px;
	margin-bottom:10px;
	color:#c3e5f8;
	padding-left:20px;
	position:relative;
}
.appinfo ul li:before {
	content:url('../../Images/whitearrow.png');
	position:absolute;
	left:0px;
	top:1px;
}
.integration_comp {
	width: 100%;
	text-align: center;
	border:0px;
}
.integration_comp h1 {
	margin: 3px auto;
	font-size: 29px;
	color: #22265c;
}
.integration_comp p {
	font-size: 18px;
	margin: 10px 0;
	color: #646464;
}
.integration_comp p a {
	text-decoration:underline;
}
.appdetails {
	margin:0px;
	padding:0px;
	border:0px;
}
.applist {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ececec;
}
.applist:last-child {
	border:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.applist_dtls {
	width: 100%;
	float: left;
	padding-left: 80px;
	position: relative;
	min-height: 65px;
	padding-right: 300px;
}
.applist_dtls img {
	position: absolute;
	left: 0px;
	width: 65px;
	height:65px;
}
.applist_dtls h3 {
	font-size:20px;
	color:#22265c;
	font-weight:normal;
}
.applist_dtls h5 {
	margin: 10px 0;
	font-size: 14px;
}
.buttons_app {
	position: absolute;
	width: 250px;
	right: 0px;
	bottom: 10px;
	text-align: right;
}
.buttons_app .btn {
	padding:5px 14px;
	background: rgba(73, 155, 234, 1);
	background: -moz-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(20, 109, 204, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(20, 109, 204, 1)));
	background: -webkit-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(20, 109, 204, 1) 100%);
	background: -o-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(20, 109, 204, 1) 100%);
	background: -ms-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(20, 109, 204, 1) 100%);
	background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(20, 109, 204, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#146dcc', GradientType=0 );
	color:#fff;
	margin-left:6px;
	border: 1px solid #1a72cf;
}
.buttons_app .btn:hover {
	border: 1px solid #1a72cf;
}
.buttons_app .btn:first-child {
	margin:0px;
}
.buttons_app .red_button {
	background: #da1402;
	background: -moz-linear-gradient(top, #f01400 0%, #da1402 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f01400), color-stop(100%, #da1402));
	background: -webkit-linear-gradient(top, #f01400 0%, #da1402 100%);
	background: -o-linear-gradient(top, #f01400 0%, #da1402 100%);
	background: -ms-linear-gradient(top, #f01400) 0%, #da1402) 100%);
	background: linear-gradient(to bottom, #f01400 0%, #da1402 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f01400', endColorstr='#da1402', GradientType=0 );
	border: 1px solid #cc1100;
}
.buttons_app .red_button:hover {
	border:1px solid #cc1100;
}
.appdetailview {
	float: left;
	width: 100%;
	background:#f5f5f5;
	margin: 10px 0px;
	padding: 15px;
	border: 1px solid #e8e8e8;
	transition: all 0.3s ease-in-out;
}


.form-controlselect {
    display: block;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
	float: left;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #666;
    background: rgba(255, 255, 255, .5);
    font-weight: 400;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
